body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --blue: orange;
  --gggg: red;
}

.header {
  background-color: var(--blue);
  color: orangered;
  font-size: 2.5rem;
  padding: 20px;
  font-weight: 700;
}
.title {
  text-align: center;
  text-decoration: underline;
  color: blueviolet;
}

.wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); поділ на таблицю в ручну */
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /*поділ на таблицю автоматично*/
  gap: 10px;
  padding: 0;
  margin: 0;
}
